{
    "parser": "babel-eslint",
    "extends": [
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": "off",
        "class-methods-use-this": "off",
        "no-invalid-this": "off"
    },
    "globals": {
        "localStorage": true,
        "fetch": true,
        "btoa": true,
        "test": true,
        "expect": true
    },
    "overrides": [
        {
            "files": [
                "**/*.ts",
                "**/*.tsx"
            ],
            "env": {
                "browser": true,
                "es6": true,
                "node": true
            },
            "extends": [
                "eslint:recommended",
                "plugin:react/recommended",
                "plugin:@typescript-eslint/eslint-recommended"
            ],
            "globals": {
                "Atomics": "readonly",
                "SharedArrayBuffer": "readonly"
            },
            "parser": "@typescript-eslint/parser",
            "parserOptions": {
                "ecmaFeatures": {
                    "jsx": true
                },
                "ecmaVersion": 2018,
                "sourceType": "module",
                "project": "./tsconfig.json"
            },
            "plugins": [
                "react",
                "@typescript-eslint"
            ],
            "rules": {
                "no-unused-vars": "off",
                "@typescript-eslint/no-unused-vars": [
                    "error"
                ],
                "indent": [
                    "error",
                    2,
                    {
                        "SwitchCase": 1
                    }
                ],
                "linebreak-style": [
                    "error",
                    "unix"
                ],
                "quotes": [
                    "error",
                    "single"
                ],
                "comma-dangle": [
                    "error",
                    "always-multiline"
                ],
                "@typescript-eslint/no-explicit-any": 0
            },
            "settings": {
                "react": {
                    "version": "detect"
                }
            }
        }
    ]
}